# Componente Práctico Semana 1 Grupo 7

### Importación de dependencias

In [5]:
!pip install pandas numpy sqlalchemy psycopg2 matplotlib dotenv

Requirement already satisfied: pandas in c:\users\manoa\dataspellprojects\practica_g7\.venv\lib\site-packages (2.3.2)
Requirement already satisfied: numpy in c:\users\manoa\dataspellprojects\practica_g7\.venv\lib\site-packages (2.3.2)
Requirement already satisfied: sqlalchemy in c:\users\manoa\dataspellprojects\practica_g7\.venv\lib\site-packages (2.0.43)
Requirement already satisfied: psycopg2 in c:\users\manoa\dataspellprojects\practica_g7\.venv\lib\site-packages (2.9.10)
Requirement already satisfied: matplotlib in c:\users\manoa\dataspellprojects\practica_g7\.venv\lib\site-packages (3.10.6)
Requirement already satisfied: dotenv in c:\users\manoa\dataspellprojects\practica_g7\.venv\lib\site-packages (0.9.9)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\manoa\dataspellprojects\practica_g7\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\manoa\dataspellprojects\practica_g7\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\manoa\dataspellprojects\practica_g7\.venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet>=1 in c:\users\manoa\dataspellprojects\practica_g7\.venv\lib\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\manoa\dataspellprojects\practica_g7\.venv\lib\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\manoa\dataspellprojects\practica_g7\.venv\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\manoa\dataspellprojects\practica_g7\.venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\manoa\dataspellprojects\practica_g7\.venv\lib\site-packages (from matplotlib) (4.59.2)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\manoa\dataspellprojects\practica_g7\.venv\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\manoa\dataspellprojects\practica_g7\.venv\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in c:\users\manoa\dataspellprojects\practica_g7\.venv\lib\site-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\manoa\dataspellprojects\practica_g7\.venv\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dotenv in c:\users\manoa\dataspellprojects\practica_g7\.venv\lib\site-packages (from dotenv) (1.1.1)
Requirement already satisfied: six>=1.5 in c:\users\manoa\dataspellprojects\practica_g7\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
import numpy as np
from dotenv import load_dotenv
import os
load_dotenv()
from sqlalchemy import create_engine

### Lectura de las Variables de entorno

In [3]:
DB_USER=os.getenv('DB_USER')
DB_PASS=os.getenv('DB_PASS')
DB_NAME=os.getenv('DB_NAME')
DB_HOST=os.getenv('DB_HOST')

## Carga de Datos en la BBDD

### Conexión con la base de datos

In [4]:
engine = create_engine(f'postgresql+psycopg2://{DB_USER}:{DB_PASS}@{DB_HOST}/{DB_NAME}')

### Carga del primer dataset de CSV a la BBDD
Primero se cargará el dataset como Dataframe y luego se importará este DF a la base de datos.
Los tres repositorios usados fueron:
- https://www.kaggle.com/datasets/msnbehdani/mock-dataset-of-second-hand-car-sales
- https://www.kaggle.com/datasets/aishwaryamuthukumar/cars-dataset-audi-bmw-ford-hyundai-skoda-vw
- https://www.kaggle.com/datasets/pratyushpuri/used-car-sales-listings-dataset-2025?select=used_car_listings.json

In [5]:
df_car_sales=pd.read_csv('data/car_sales_data.csv')
df_car_sales

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,Ford,Fiesta,1.0,Petrol,2002,127300,3074
1,Porsche,718 Cayman,4.0,Petrol,2016,57850,49704
2,Ford,Mondeo,1.6,Diesel,2014,39190,24072
3,Toyota,RAV4,1.8,Hybrid,1988,210814,1705
4,VW,Polo,1.0,Petrol,2006,127869,4101
...,...,...,...,...,...,...,...
49995,BMW,M5,5.0,Petrol,2018,28664,113006
49996,Toyota,Prius,1.8,Hybrid,2003,105120,9430
49997,Ford,Mondeo,1.6,Diesel,2022,4030,49852
49998,Ford,Focus,1.0,Diesel,2016,26468,23630
49999,VW,Golf,1.4,Diesel,2012,109300,10400

In [8]:
df_car_sales.to_sql('car_sales', con=engine, if_exists='append', index=False)

1000

### Lectura del dataset cargado en la base de datos

In [9]:
df_car_sales_bd = pd.read_sql('select * from car_sales', con=engine)
df_car_sales_bd

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
0,Ford,Fiesta,1.0,Petrol,2002,127300,3074
1,Porsche,718 Cayman,4.0,Petrol,2016,57850,49704
2,Ford,Mondeo,1.6,Diesel,2014,39190,24072
3,Toyota,RAV4,1.8,Hybrid,1988,210814,1705
4,VW,Polo,1.0,Petrol,2006,127869,4101
...,...,...,...,...,...,...,...
49995,BMW,M5,5.0,Petrol,2018,28664,113006
49996,Toyota,Prius,1.8,Hybrid,2003,105120,9430
49997,Ford,Mondeo,1.6,Diesel,2022,4030,49852
49998,Ford,Focus,1.0,Diesel,2016,26468,23630
49999,VW,Golf,1.4,Diesel,2012,109300,10400

## Carga de archivos CSV y JSON

In [10]:
df_used_cars=pd.read_json('data/used_car_listings.json')
df_cars_dataset=pd.read_csv('data/cars_dataset.csv')

## Lectura de los datasets cargados

In [11]:
df_used_cars

,listing_id,vin,make,model,year,trim,body_type,fuel_type,transmission,mileage,price,condition,location,seller_type,features
0,1,9M6LF68V634LY2252,Tesla,Model 3,2019,None,Coupe,Electric,Manual,46134,19919,good,"New Lindsey, GA, US",Dealer,"Alloy Wheels, Android Auto, Apple CarPlay, Fog..."
1,2,1S0ZCY536BSCY2864,Nissan,Rogue,2024,LT,Sedan,Hybrid,Automatic,16109,19480,good,"Pughtown, CO, US",Dealer,"Alloy Wheels, Android Auto, Lane Keep Assist, ..."
2,3,YFB625BN0RTMZ5590,Hyundai,i20,2018,XLE,Crossover,Petrol,Automatic,173239,4556,good,"Satna, HR, India",Dealer,"Alloy Wheels, Bluetooth, Panoramic Roof, Sunroof"
3,4,CPMZ4RFN5WYL37096,Kia,Sportage,2023,EX,Hatchback,Diesel,CVT,36810,11536,fair,"山武市, Osaka, Japan",Certified Pre-Owned,"Alloy Wheels, Bluetooth, Keyless Entry, Naviga..."
4,5,4PJZG3MV6D9365673,Kia,Seltos,2020,Trend,Pickup,Diesel,Automatic,87749,14098,good,"長生郡長生村, Osaka, Japan",Certified Pre-Owned,"Apple CarPlay, Backup Camera, Bluetooth, Heate..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2063,2064,06B83BVF8F2W81547,Skoda,Kushaq,2023,Sport,Pickup,Petrol,Automatic,24566,34696,like new,"Shahjahanpur, KA, India",Certified Pre-Owned,"Blind Spot Monitor, Keyless Entry, Panoramic R..."
2064,2065,4P7083L79MBVK5696,Mahindra,Scorpio,2016,XSE,SUV,Diesel,Automatic,122459,2642,excellent,"Marques, PR, Brazil",Dealer,"Adaptive Cruise Control, Backup Camera, LED He..."
2065,2066,5RERFW1M7B00A4061,Audi,A6,2018,EX,Hatchback,Diesel,DCT,120452,7093,good,"Dhanbad, KL, India",Private Party,"Adaptive Cruise Control, Android Auto, Blind S..."
2066,2067,DJB6DBAS5UNNX0757,Skoda,Kushaq,2021,LX,MPV,Petrol,Manual,57043,11296,excellent,"Caitlinstad, NL, Canada",Certified Pre-Owned,"Backup Camera, Panoramic Roof, Parking Sensors..."
2067,2068,8BUANECR64R9L0827,Chevrolet,Malibu,2024,Platinum,Sedan,Diesel,Automatic,20218,23558,excellent,"Stadtroda, HH, Germany",Certified Pre-Owned,"Adaptive Cruise Control, Android Auto, Apple C..."

In [12]:
df_cars_dataset

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,Make
0,A1,2017,12500,Manual,15735,Petrol,150.0,55.4,1.4,audi
1,A6,2016,16500,Automatic,36203,Diesel,20.0,64.2,2.0,audi
2,A1,2016,11000,Manual,29946,Petrol,30.0,55.4,1.4,audi
3,A4,2017,16800,Automatic,25952,Diesel,145.0,67.3,2.0,audi
4,A3,2019,17300,Manual,1998,Petrol,145.0,49.6,1.0,audi
...,...,...,...,...,...,...,...,...,...,...
72430,I30,2016,8680,Manual,25906,Diesel,0.0,78.4,1.6,Hyundai
72431,I40,2015,7830,Manual,59508,Diesel,30.0,65.7,1.7,Hyundai
72432,I10,2017,6830,Manual,13810,Petrol,20.0,60.1,1.0,Hyundai
72433,Tucson,2018,13994,Manual,23313,Petrol,145.0,44.8,1.6,Hyundai
72434,Tucson,2016,15999,Automatic,11472,Diesel,125.0,57.6,1.7,Hyundai

## Filtros para los dataframes

### Filtros para el dataframe 1

1. Filtro para saber los carros que sean mayores al 2015 y que sean de la marca Ford

In [13]:
df_car_sales_bd[(df_car_sales_bd['Year of manufacture']>2015) & (df_car_sales_bd['Manufacturer']=='Ford')]

,Manufacturer,Model,Engine size,Fuel type,Year of manufacture,Mileage,Price
5,Ford,Focus,1.4,Petrol,2018,33603,29204
50,Ford,Fiesta,1.0,Diesel,2017,38370,16257
88,Ford,Focus,1.8,Petrol,2020,22371,40336
151,Ford,Mondeo,1.6,Petrol,2016,40104,26053
160,Ford,Fiesta,1.4,Petrol,2020,33832,22982
...,...,...,...,...,...,...,...
49884,Ford,Fiesta,1.2,Petrol,2018,41480,17796
49926,Ford,Focus,1.6,Petrol,2016,38032,26620
49974,Ford,Focus,2.0,Petrol,2016,60244,25931
49997,Ford,Mondeo,1.6,Diesel,2022,4030,49852
49998,Ford,Focus,1.0,Diesel,2016,26468,23630

2. Filtro para saber el precio de los carros que sean a diesel junto con sus millas recorridas

In [24]:
filtro2=df_car_sales_bd[(df_car_sales_bd['Fuel type']=='Diesel')].groupby(['Mileage', 'Price']).sum().reset_index()
filtro2

,Mileage,Price,Manufacturer,Model,Engine size,Fuel type,Year of manufacture
0,630,45601,VW,Golf,1.8,Diesel,2022
1,1028,66183,BMW,X3,2.0,Diesel,2022
2,1487,56459,Ford,Mondeo,2.0,Diesel,2022
3,1500,104240,Porsche,Cayenne,3.5,Diesel,2020
4,1757,49838,VW,Passat,1.4,Diesel,2022
...,...,...,...,...,...,...,...
13259,417511,149,Ford,Mondeo,1.6,Diesel,1987
13260,421979,135,VW,Golf,2.0,Diesel,1987
13261,423053,122,VW,Passat,1.4,Diesel,1985
13262,423108,129,Ford,Mondeo,2.0,Diesel,1984
13263,446897,167,BMW,X3,3.0,Diesel,1986

3. Agregación para saber el máximo y minimo de millaje de los carros en base a su marca en la base de datos

In [25]:
df_car_sales_bd.groupby('Manufacturer').agg({'Mileage':['min', 'max']})

             Mileage
                 min     max
Manufacturer
BMW             1027  453537
Ford            1487  423108
Porsche         1438  390862
Toyota           664  416143
VW               630  423053

### Filtros para el dataframe 2

1. Filtro para conocer los carros de transmisión automática que esten en buenas condiciones.

In [26]:
df_used_cars[(df_used_cars['transmission']=='Automatic') & (df_used_cars['condition']=='good')]

,listing_id,vin,make,model,year,trim,body_type,fuel_type,transmission,mileage,price,condition,location,seller_type,features
1,2,1S0ZCY536BSCY2864,Nissan,Rogue,2024,LT,Sedan,Hybrid,Automatic,16109,19480,good,"Pughtown, CO, US",Dealer,"Alloy Wheels, Android Auto, Lane Keep Assist, ..."
2,3,YFB625BN0RTMZ5590,Hyundai,i20,2018,XLE,Crossover,Petrol,Automatic,173239,4556,good,"Satna, HR, India",Dealer,"Alloy Wheels, Bluetooth, Panoramic Roof, Sunroof"
4,5,4PJZG3MV6D9365673,Kia,Seltos,2020,Trend,Pickup,Diesel,Automatic,87749,14098,good,"長生郡長生村, Osaka, Japan",Certified Pre-Owned,"Apple CarPlay, Backup Camera, Bluetooth, Heate..."
15,16,YM5ZXBVK81UZU9787,Audi,A6,2011,Platinum,Crossover,Petrol,Automatic,144829,1926,good,"South Matthew, NC, US",Private Party,"Alloy Wheels, Apple CarPlay, Bluetooth, Naviga..."
17,18,TPPCW27T01MM63101,Chevrolet,Silverado,2020,XLE,MPV,Petrol,Automatic,76339,9226,good,"Vincent, ARA, France",Private Party,"Android Auto, Backup Camera, Bluetooth, Fog Li..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2035,2036,TXT8CAAV9B4LU1892,Kia,Sorento,2021,LE,SUV,Petrol,Automatic,81439,13860,good,"Miryalaguda, MH, India",Dealer,"Fog Lights, Navigation, Panoramic Roof, Parkin..."
2041,2042,YJS12NWF636Y86103,Mercedes-Benz,E-Class,2012,Base,Convertible,Diesel,Automatic,269258,2888,good,"Düren, MV, Germany",Certified Pre-Owned,None
2046,2047,S4NSAVXR6RMZS5789,Audi,Q3,2014,Limited,Crossover,Petrol,Automatic,273071,3477,good,"品川区, Osaka, Japan",Private Party,"Adaptive Cruise Control, Alloy Wheels, Backup ..."
2047,2048,TAMUE58E82ZB63558,Audi,A6,2020,XSE,SUV,Petrol,Automatic,64456,19160,good,"Bloemfontein, WC, South Africa",Private Party,"Alloy Wheels, Apple CarPlay, Blind Spot Monito..."
2049,2050,PZPN8R8U5J9ZL5457,Mercedes-Benz,C-Class,2012,Titanium,Hatchback,Petrol,Automatic,334969,1693,good,"横浜市鶴見区, Okinawa, Japan",Dealer,"Android Auto, Bluetooth, Heated Seats, Sunroof"

2. Filtro de los autos más antiguos y muy rodados (año<= 2010 y millaje >= 100.000 mill)

In [29]:
df_used_cars[(df_used_cars['year']<=2010) & (df_used_cars['mileage']>=100000)]

,listing_id,vin,make,model,year,trim,body_type,fuel_type,transmission,mileage,price,condition,location,seller_type,features
43,44,81EC4TG430XFR8443,Mercedes-Benz,GLA,2006,None,Crossover,Petrol,Automatic,246701,1253,salvage,"Matthewport, NC, US",Dealer,"Adaptive Cruise Control, Alloy Wheels, Heated ..."
63,64,K85A2Y7V2YWH02626,Skoda,Slavia,2007,Performance,Van,CNG,Automatic,362589,1222,excellent,"Blanchard-sur-Mer, IDF, France",Dealer,"Alloy Wheels, Keyless Entry, Lane Keep Assist,..."
88,89,7T15EKAP7X1YC9009,Chevrolet,Silverado,2007,SE,Convertible,Petrol,Manual,418428,1165,fair,"Dessau, SH, Germany",Private Party,"Android Auto, Heated Seats, Leather Seats, Pan..."
112,113,ULVY4RV78VX6C8605,Ford,Explorer,2006,Performance,Sedan,Plug-in Hybrid,Manual,192499,1249,good,"West William, NB, Canada",Private Party,"Android Auto, Apple CarPlay, Backup Camera, Ke..."
116,117,R436X8LV2G0520831,Toyota,Highlander,2010,Base,Sedan,Electric,Automatic,108146,1279,salvage,"Pretoria, NC, South Africa",Dealer,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001,2002,N9WUJXJ68P2JX4912,Mercedes-Benz,GLC,2007,Trend,Convertible,Electric,Automatic,165905,1707,excellent,"Port George, NL, Canada",Dealer,"Backup Camera, LED Headlights, Panoramic Roof,..."
2014,2015,UW6V0HGS8G6FG4589,Nissan,Sentra,2007,Long Range,Pickup,Plug-in Hybrid,Automatic,113493,1204,good,"Lake Tammyport, SK, Canada",Private Party,"Adaptive Cruise Control, Backup Camera, Fog Li..."
2019,2020,GWF2EUYX88UGK4894,Mahindra,Bolero,2010,EX,SUV,Petrol,Automatic,151776,1199,good,"Kylieshire, MB, Canada",Private Party,"Adaptive Cruise Control, Android Auto, Fog Lig..."
2038,2039,JXBZVYZ2XXYTX1047,Skoda,Octavia,2005,LX,Coupe,Petrol,Manual,325826,1157,good,"Suryapet, UP, India",Private Party,None
2061,2062,T6SC22AC19MPK9518,Volkswagen,Tiguan,2010,L,Pickup,Plug-in Hybrid,CVT,205789,1622,excellent,"Bhalswa Jahangir Pur, UP, India",Certified Pre-Owned,"Alloy Wheels, Blind Spot Monitor, Fog Lights, ..."

3. El promedio de precios de autos agrupado por marca, así como su mínimo y su máximo de millaje

In [31]:
df_used_cars.groupby('make').agg({'mileage':['min', 'max'], 'price':'mean'})

              mileage                 price
                  min     max          mean
make
Audi                0  418428  12300.725352
BMW                 0  392835  13460.424000
Chevrolet           0  418428   8337.525926
Ford                0  415962   8546.835616
Honda               0  403088   8849.945312
Hyundai             0  418428   9061.943548
Kia                 0  387427   8443.601504
Mahindra            0  418428   6363.926471
Maruti           8943  418428   5531.478632
Mercedes-Benz       0  418428  12417.771654
Nissan              0  340338   7212.156250
Skoda               0  362589   8452.862069
Tata                0  336245   6242.936508
Tesla               0  418428  12606.914530
Toyota              0  397614   9744.577586
Volkswagen          0  314064   9568.975610

### Filtros para el dataframe 3

1. Filtra precio promedio de auto por marca.(Se puede agregar round(2)para que el valor solo lo muestre con dos decimales para una mejor representacion numerica)

In [32]:
df_cars_dataset.groupby('Make')['price'].mean().round(2)

Make
BMW        22733.41
Ford       12280.08
Hyundai    12750.13
audi       22896.69
skoda      14275.45
toyota     12522.39
vw         16838.95
Name: price, dtype: float64

2. Se puede aplicar el mismo filtro de manera mas compleja, calculando el precio promedio del auto por marca pero considerando solamente los autos con 20000 millas o menos.

In [33]:
df_cars_dataset[df_cars_dataset['mileage'] <= 20000].groupby('Make')['price'].mean().round(2)

Make
BMW        29155.80
Ford       14171.14
Hyundai    14701.17
audi       28736.68
skoda      16422.20
toyota     13900.28
vw         20090.83
Name: price, dtype: float64

3. Filtro que muestra los autos de transmision manual, mas baratos por marcas.(al final muestra las 3 filas deseadas)

In [34]:
df_manual = df_cars_dataset[df_cars_dataset['transmission'] == 'Manual']
autos_mas_baratos_manual = df_manual.loc[df_manual.groupby('Make')['price'].idxmin()]
autos_mas_baratos_manual = autos_mas_baratos_manual.sort_values(by='Make')
print(autos_mas_baratos_manual[['transmission','Make','price']])

      transmission     Make  price
20364       Manual      BMW   1445
38552       Manual     Ford    495
72280       Manual  Hyundai   1200
10552       Manual     audi   1699
67245       Manual    skoda    995
60997       Manual   toyota    850
54568       Manual       vw   1250